<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Device Details</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            max-width: 800px; /* Adjust the max-width to your preference */
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 40px;
        }

        h1 {
            text-align: center;
            color: #333;
            margin-bottom: 30px;
            font-size: 24px;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        select {
            width: 100%; /* Make the select element full-width */
            max-width: 100%; /* Ensure the select element takes the full width */
            padding: 12px 20px;
            margin-bottom: 30px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 18px;
        }

        input[type="submit"] {
            width: 100%;
            padding: 15px 20px;
            background-color: #4CAF50;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 18px;
            transition: background-color 0.3s;
        }

        input[type="submit"]:hover {
            background-color: #45a049;
        }

        a {
            display: block;
            text-align: center;
            margin-top: 20px;
            color: #007bff;
            text-decoration: none;
            font-size: 18px;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Device Details</h1>
        <form action="deviceDetails" method="post">
            <select name="deviceDetails" id="deviceDetails">
                <%for( let i of devices ){ %>
                    <option value="<%= i['device'] %>"> <%= i['device'] %></option> 
                <%}%>
            </select>
            <input type="submit" name="submit" id="submit" value="Get Details">
        </form>
        <a href="/homepage">Home Page</a>
    </div>
</body>
</html>
